body{

    font-family: 'Roboto', sans-serif;
    margin: 0;

}

h1{

font-size: 40px;

}
span{

color: orangered;

}
section{

display: flex;

}
.right{

width: 50%;

}
.left{

width: 50%;
margin-left: 95px;
margin-top: 40px;

}

.right img{

width: 80%;
margin: 23px;

}
p{
text-align: justify;

}
.button{
text-decoration: none;
background-color: orangered;
padding: 6px 14px;
color: white;
border-radius: 2px;
font-weight: 500;
}

.Top-banner{

background-image: url("top-banner.png");
background-repeat: no-repeat;


}
.image{

width: 50%;
margin-left: 80px;

}

.text{

width: 50%;
margin-right: 120px;
margin-top: 40px;

}

.text h1{

font-size: 50px;

}

.text p{


font-size: 18px;

}

.image img{

width: 90%;

}
.btn{
text-decoration: none;
background-color: orangered;
padding: 7px 20px;

color: white;

border-radius: 2px;

}
.Dream{


background-image:url("dream-bg.png");
background-repeat: no-repeat;
background-position: right;

}
.main{


display: flex;
margin-top: 60px;



}

.head{

margin-top: 100px;
margin-left: 20px;


}
.Black{

width: 50%;
margin: 70px;
margin-top: -80px;
padding: 40px;
border-left:orangered ;
background-color: white;
box-shadow:10px 10px 30px rgba(0, 0, 0, 0.753);
border-radius: 15px;
background-image: linear-gradient(to right,#743ad5, #d53a9d);

}
.White{

width: 50%;
margin: 70px;
margin-top: -80px;
padding: 40px;
border: orangered;
background-color: white;
box-shadow:10px 10px 30px rgba(0, 0, 0, 0.763);
border-radius: 15px;
background-image: linear-gradient(to right,#743ad5, #d53a9d);

}
.White h3{

color: white;

}
.Black h3{
color: white;

}
footer p{

text-align: center;


}